MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/attendance_db?retryWrites=true&w=majority
SECRET_KEY=super-secret-key-123
MAIL_USER=your_email@gmail.com
# Use an App Password from Gmail
MAIL_PASS=your_app_password
