# MongoDB Atlas URI (Use your database name instead of 'test')
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/attendance_db?retryWrites=true&w=majority

# Secret Key for Flash Messages & Sessions
SECRET_KEY=nit-kkr-secure-2026-v2

# Gmail SMTP Configuration (Use Google App Password)
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_app_password_without_spaces

# Admin Emails (Comma separated, no spaces)
ADMIN_EMAILS=rk844304@gmail.com,raj05062005@gmail.com

# Cloudinary Storage Configuration
# Copy this from your Dashboard under "Environment variable"
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
