{% extends "base.html" %}
{% block content %}
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-md mt-10 border border-gray-100">
    <div class="p-8">
        <div class="uppercase tracking-wide text-sm text-blue-600 font-semibold mb-1">{% if role %}{{ role.capitalize() }} Portal{% else %}Access Portal{% endif %}</div>
        <h2 class="block mt-1 text-2xl leading-tight font-bold text-gray-900 mb-6">Login to your account</h2>
        
        <form method="POST" action="{{ url_for('auth.login') }}">
            <input type="hidden" name="role" value="{{ role }}">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Global Email Address
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:blue-500 focus:border-transparent" 
                       id="email" type="email" name="email" placeholder="example@gmail.com" required>
            </div>
            
            <div class="flex items-center justify-between mt-6">
                <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full transition duration-150 ease-in-out" type="submit">
                    Send OTP
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
